<h2><%= @quiz.title %></h2>

<% if @quiz.questions.any? %>
  <% @quiz.questions.each do |q| %>
    <p>
      <%= q.body %>
    </p>
  <% end %>
<% else %>
  <p>
    There are no questions for this quiz yet.
  </p>
<% end %>
