<div class='form-group'>
  <div class="col-sm-11">
    <%= f.text_field :body, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <span>
      <%= link_to_remove_association "Remove", f, wrapper_class: 'form-group' %>
    </span>
  </div>
</div>
