<%= form_for @question, url: admin_quiz_questions_path(@quiz) do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
